.food-beverage-analysis .hero {
  background: url("@/assets/img/home/fa.png");
  background-color: #d3d92b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding: 210px;
  position: relative;
}

/* Initial state: h1 centered, line and text hidden */
.food-beverage-analysis .hero .ca-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 128px;
  color: white;
  font-weight: 400;
  white-space: nowrap;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(350px);
}

.ca-title span {
  display: inline;
}

.food-beverage-analysis .hero .ca-title span:last-child {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(235px);
}

.food-beverage-analysis .hero .line-vertical {
  height: 250px;
  margin: 0 50px;
  width: 0.25rem;
  background-color: white;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.food-beverage-analysis .hero .text {
  width: 599px !important;
  min-width: 599px;
  max-width: 599px;
  font-size: 40px;
  color: white;
  font-weight: 200;
  opacity: 0;
  transform: translateX(-599px);
  transition:
    opacity 1.6s cubic-bezier(0.4, 0, 0.2, 1),
    transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animated state: after 1 second */
.food-beverage-analysis .hero.animated .ca-title {
  font-size: 96px;
  transform: translateX(0);
}

.food-beverage-analysis .hero.animated .ca-title span {
  transform: translateX(0);
}

.food-beverage-analysis .hero.animated .line-vertical {
  opacity: 1;
  transform: translateX(0);
}

.food-beverage-analysis .hero.animated .text {
  opacity: 1;
  transform: translateX(0);
}
