.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post-item {
  margin-top: 1rem;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.post-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.post-item .title .category {
  height: 1.45rem;
  margin: 0.5rem 0;
  background-color: #e0e0e0;
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-size: 0.7rem;
  border-radius: 1rem;
}

.post-item .tags {
  color: rgb(92, 92, 255);
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

.post-item .date {
  font-size: 0.8rem;
}

.post-item .added-by {
  font-size: 0.8rem;
}
