.distribution-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distribution-section .card {
  width: 100%;
  height: 245px;
  background: url("@/assets/img/home/dist.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 396px;
}

.distribution-section .card .count {
  color: white;
  text-align: center;
}

.distribution-section .card p {
  margin: 0;
  font-size: 48px;
  font-weight: 200;
}

.distribution-section .card h5 {
  font-size: 32px;
  font-weight: 200;
}

.distribution-section .map {
  margin-top: 3rem;
  position: relative;
  display: inline-block;
}

.map img {
  display: block;
}
.map {
  position: relative;
  display: inline-block;
}

.map {
  position: relative;
}

.dot-wrapper {
  position: relative;
  display: inline-block;
}

.map-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

/* ripple effect */
.map-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary);
  transform: translate(-50%, -50%);
  opacity: 0.6;
  animation: pulse 1.5s ease-out infinite;
}
.dot-img {
  position: absolute;
  pointer-events: none;
}
.dot-img path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: none;
}

.dot-img path:last-child {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dot-wrapper:hover .dot-img path {
  animation: draw-line 1s linear forwards;
}

.dot-wrapper:hover .dot-img path:last-child {
  opacity: 1;
  transition: opacity 0.3s ease 0.2s;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.distribution-section .map img {
  width: 1641px;
  height: 625px;
}
