.distribution-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distribution-section .card {
  width: 100%;
  padding: 2rem;
  background: url("@/assets/img/home/dist.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.distribution-section .card .count {
  color: white;
  text-align: center;
}

.distribution-section .card p {
  margin: 0;
  font-size: 32px;
  /* font-size: 48px; */
  font-weight: 200;
}

.distribution-section .card h5 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 1rem;
}
.distribution-section .map {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 5.5;
}

.dot-frame {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.dot-wrapper {
  position: relative;
  display: inline-block;
}

.dot-img {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.dot-position {
  position: absolute;
  transform: translate(-50%, -50%);
}

.map-dot {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

/* ripple */
.map-dot::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: var(--primary);
  opacity: 1;
  animation: pulse 1.5s ease-out infinite;
}
.dot-img {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 3;
  left: 5;
  transition: opacity 0.2s ease;
}

/* SVG line default */
.dot-img path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

/* LAST PATH (dot ujung) */
.dot-img path:last-child {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (min-width: 768px) {
  .map-dot {
    width: 6px;
    height: 6px;
  }

  .distribution-section .card {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .map-dot {
    width: 8px;
    height: 8px;
  }

  .distribution-section .card h5 {
    font-size: 32px;
  }

  .distribution-section .card p {
    font-size: 48px;
  }

  .dot-position:hover .dot-img {
    opacity: 1;
  }

  .dot-position:hover .dot-img path {
    animation: draw-line 1s linear forwards;
  }

  .dot-position:hover .dot-img path:last-child {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .dot-wrapper:hover .dot-img path {
    animation: draw-line 1s linear forwards;
  }

  .dot-wrapper:hover .dot-img path:last-child {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
  }

  .dot-position {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .anchor-top-left {
    transform: translate(0, 0);
  }
  .anchor-top-right {
    transform: translate(-100%, 0);
  }
  .anchor-bottom-left {
    transform: translate(0, -100%);
  }
  .anchor-bottom-right {
    transform: translate(-100%, -100%);
  }
}

@keyframes pulse {
  0% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(0%, 0%) scale(3);
    opacity: 0;
  }
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}
