:root {
  --background: #ffffff;
  --foreground: oklch(27.9% 0.041 260.031);
  --primary: #ee2737;
  --primary-hover: #bb2028;

  --danger: oklch(70.4% 0.191 22.216);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #720a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Alliance, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: #8f8f8f;
}
