*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;
}

body,
html {
  height: 100vh;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: #ee2737;
  color: white;
  font-family: "Mona Sans", system-ui, sans-serif;
  font-size: 20px;
  height: 100vh;
}

a {
  display: block;
  cursor: pointer;
  animation: pulseColor 1000ms linear 3100ms forwards;
  font-weight: 500;
}

a:hover b {
  color: #f04f54;
}

a:active b {
  color: #43cb9d;
}

svg {
  width: 50px;
}

.crack {
  position: relative;
  z-index: 4;
  margin-left: -50px;
}

.crack polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1649.099;
  stroke-dashoffset: 1649.099;
  animation: drawStroke 1500ms ease-out 500ms forwards;
}

.not-found > div {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.not-found polygon {
  fill: #ee2737;
}

.not-found span {
  display: block;
  padding: 0 12px;
  line-height: 1.4;
}

.not-found > div:first-child span:first-child {
  opacity: 0;
  transform: translateX(100%);
  animation: translateLeft 1000ms linear 1250ms forwards;
}

.not-found > div:first-child span:last-child {
  opacity: 0;
  transform: translateX(100%);
  animation: translateLeft 1000ms linear 1450ms forwards;
}

.not-found > div:last-child {
  margin-left: -50px;
}

.not-found > div:last-child span:first-child {
  opacity: 0;
  transform: translateX(-100%);
  animation: translateRight 1000ms linear 1650ms forwards;
}

.not-found > div:last-child span:last-child {
  opacity: 0;
  transform: translateX(-100%);
  animation: translateRight 1000ms linear 1850ms forwards;
}

/* Animations */
@keyframes drawStroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulseColor {
  0%,
  50%,
  100% {
    color: white;
  }
  25%,
  75% {
    color: #ee2737;
  }
}

@keyframes translateLeft {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes translateRight {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
