header {
  height: 3rem;
  position: fixed;
  z-index: 99999;
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: 0.5s ease;
}

.logo {
  display: none;
  height: auto !important;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  color: #fff;
  width: 100%;
}

.header-info p {
  color: #fff !important;
  font-size: 0.8rem;
  height: 18px;
}

@media (min-width: 1025px) {
  header {
    padding: 1rem 3rem;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    display: block;
  }

  .header-info {
    color: #fff;
  }

  .header-info p {
    font-size: 1rem;
    height: 22px;
  }
}
