aside {
  margin-top: 3.65rem;
  height: 91.5vh;
  position: fixed;
  width: 12rem;
}

/* Reset list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li {
  width: 100%;
  overflow: hidden;
}

/* Link item */
ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
}

ul li a:hover {
  background-color: var(--primary);
  color: #fff;
}

.isActive {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
}
