aside {
  margin-top: 3rem;
  /* height: 91.5vh; */
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 12rem;
  transform: translate(0);
  transition: 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.open {
  transform: translate(-12rem);
}

/* Reset list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li {
  width: 100%;
  overflow: hidden;
}

/* Link item */
ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
  width: 100%;
}

ul li a:hover {
  background-color: var(--primary);
  color: #fff;
}

.isActive {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
}

.layout {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.091);
  transition: opacity 0.3s ease; /* animasi */
}

.layout.open-layout {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 641px) {
}

@media (min-width: 1025px) {
  .open {
    transform: translate(0);
  }

  .layout {
    display: none;
  }
}
