.news-section {
  margin-left: 158px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-section .container {
  display: flex;
}

.news-section .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  max-width: 1065px;
}

.news-section .card {
  position: relative;
  overflow: hidden;
  width: 527px;
  height: 351px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.news-section .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  opacity: 31%;
  width: 527px;
  height: 351px;
}

.news-section .card .text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 9;
  transform: translateY(30px);
  transition: 0.5s ease;
}
.news-section .card h3 {
  font-size: 36px;
  font-weight: bold;
}

.news-section .card p {
  font-size: 20px;
  margin: 0;
}

.news-section .container .content {
  margin-left: 9px;
  position: relative;
  background-color: var(--primary);
  color: white;
  width: 100%;
}

.news-section .container .content .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 496px;
  bottom: 0;
  transition: all 0.3s ease;
}

.news-section .container .content h2 {
  text-shadow: none;
}

.news-section .container .content p {
  text-shadow: none;
  font-size: 24px;
  text-align: justify;
  padding: 0;
  margin-bottom: 30px;
}

.card .text p:last-child {
  opacity: 1;
  transform: translateY(6px);
  font-size: 15px;
}

.card:hover .text {
  transform: translateY(0);
}

.news-section .container .overlay {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15rem;
  width: 100%;
  background: #121212;
  background: linear-gradient(360deg, rgba(18, 18, 18, 1) 0%, rgba(115, 115, 115, 0) 100%);
  transition: 0.5s ease;
}

.card:hover .overlay {
  opacity: 30%;
}
